:root.dark,
:root.theme-dark {
  --rgb-white: 255 255 255;
  --rgb-body: 20 21 23;
  --rgb-card: 29 31 35;
  --rgb-card-solid: 26 28 31;
  --rgb-strong: 49 51 58;
  --rgb-content-1: 243 245 250;
  --rgb-content-2: 134 140 155;
  --rgb-content-3: 90 95 109;
  --rgb-primary: 81 249 189;
  --rgb-accent: 81 141 249;
  --rgb-green: 81 249 189;
  --rgb-red: 249 81 145;
  color-scheme: dark;
}

:root {
  --color-white: rgb(var(--rgb-white));
  --color-body: rgb(var(--rgb-body));
  --color-card: rgb(var(--rgb-card));
  --color-card-solid: rgb(var(--rgb-card-solid));
  --color-strong: rgb(var(--rgb-strong));
  --color-content-1: rgb(var(--rgb-content-1));
  --color-content-2: rgb(var(--rgb-content-2));
  --color-content-3: rgb(var(--rgb-content-3));
  --color-primary: rgb(var(--rgb-primary));
  --color-accent: rgb(var(--rgb-accent));
  --color-green: rgb(var(--rgb-green));
  --color-red: rgb(var(--rgb-red));

  --tv-color-platform-background: var(--color-card-solid);
  --tv-color-pane-background: var(--color-card-solid);
  --tv-color-toolbar-button-background-hover: var(--color-strong);
  --tv-color-toolbar-button-background-expanded: var(--color-strong);
  --tv-color-toolbar-button-background-active: var(--color-strong);
  --tv-color-toolbar-button-background-active-hover: var(--color-strong);
  --tv-color-toolbar-button-text: var(--color-content-1);
  --tv-color-toolbar-button-text-hover: var(--color-content-1);
  --tv-color-toolbar-button-text-active: var(--color-primary);
  --tv-color-toolbar-button-text-active-hover: var(--color-primary);
  --tv-color-item-active-text: var(--color-primary);
  --tv-color-toolbar-toggle-button-background-active: var(--color-primary);
  --tv-color-toolbar-toggle-button-background-active-hover: var(--color-primary);
  --tv-color-toolbar-divider-background: var(--color-strong);
  --tv-color-toolbar-save-layout-loader: var(--color-primary);

  --tv-color-popup-background: var(--color-card-solid);
  --tv-color-popup-element-text: var(--color-content-1);
  --tv-color-popup-element-text-hover: var(--color-content-1);
  --tv-color-popup-element-background-hover: var(--color-strong);
  --tv-color-popup-element-divider-background: var(--color-strong);
  --tv-color-popup-element-secondary-text: var(--color-content-2);
  --tv-color-popup-element-hint-text: var(--color-content-2);
  --tv-color-popup-element-text-active: var(--color-primary);
  --tv-color-popup-element-background-active: var(--color-strong);
  --tv-color-popup-element-toolbox-text: var(--color-content-1);
  --tv-color-popup-element-toolbox-text-hover: var(--color-content-1);
  --tv-color-popup-element-toolbox-text-active-hover: var(--color-content-1);
  --tv-color-popup-element-toolbox-background-hover: var(--color-strong);
  --tv-color-popup-element-toolbox-background-active-hover: var(--color-strong);
}