@tailwind base;
@layer base {
  #__next {
    isolation: isolate;
  }

  html {
    @apply text-[62.5%];
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }

  body {
    @apply bg-body font-sans;
  }
}

@tailwind components;

@tailwind utilities;
@layer utilities {
  .text-body-12 {
    @apply text-sm font-normal leading-tight;
  }

  .text-body-14 {
    @apply text-md font-normal leading-normal;
  } 

  .text-h2 {
    @apply text-xl font-bold leading-loose;
  }

  .text-h3 {
    @apply text-lg font-bold leading-loose;
  }

  .text-h5 {
    @apply text-md font-bold leading-loose;
  }

  .text-h6 {
    @apply text-sm font-bold leading-tight;
  }
}
