@import url("./color-scheme.css");

:root {
  --tv-color-platform-background: transparent;
  --tv-color-pane-background: transparent;
  --tv-color-toolbar-button-background-hover: var(--color-strong);
  --tv-color-toolbar-button-background-expanded: var(--color-strong);
  --tv-color-toolbar-button-background-active: var(--color-strong);
  --tv-color-toolbar-button-background-active-hover: var(--color-strong);
  --tv-color-toolbar-button-text: var(--color-content-1);
  --tv-color-toolbar-button-text-hover: var(--color-content-1);
  --tv-color-toolbar-button-text-active: var(--color-primary);
  --tv-color-toolbar-button-text-active-hover: var(--color-primary);
  --tv-color-item-active-text: var(--color-primary);
  --tv-color-toolbar-toggle-button-background-active: var(--color-primary);
  --tv-color-toolbar-toggle-button-background-active-hover: var(--color-primary);
  --tv-color-toolbar-divider-background: var(--color-strong);
  --tv-color-toolbar-save-layout-loader: var(--color-primary);

  --tv-color-popup-background: rgba(var(--rgb-dialog) / 0.99);
  --tv-color-popup-element-text: var(--color-content-1);
  --tv-color-popup-element-text-hover: var(--color-content-1);
  --tv-color-popup-element-background-hover: var(--color-strong);
  --tv-color-popup-element-divider-background: var(--color-strong);
  --tv-color-popup-element-secondary-text: var(--color-content-2);
  --tv-color-popup-element-hint-text: var(--color-content-2);
  --tv-color-popup-element-text-active: var(--color-primary);
  --tv-color-popup-element-background-active: var(--color-strong);
  --tv-color-popup-element-toolbox-text: var(--color-content-1);
  --tv-color-popup-element-toolbox-text-hover: var(--color-content-1);
  --tv-color-popup-element-toolbox-text-active-hover: var(--color-content-1);
  --tv-color-popup-element-toolbox-background-hover: var(--color-strong);
  --tv-color-popup-element-toolbox-background-active-hover: var(--color-strong);
}
