:root {
  --tv-color-platform-background: rgba(29, 31, 35, 0.8);
  --tv-color-pane-background: rgba(29, 31, 35, 0.8);
  --tv-color-popup-background: rgba(29, 31, 35, 0.8);
  --tv-color-tab-background: rgba(29, 31, 35, 0.8);
}